[Unit]
Description=Voice Assistant

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/projects/pgttsjaisrar/main.py
User=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
